@page
@using Microsoft.EntityFrameworkCore
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Who Am I</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

</head>
<body>

<!-- Header Area wrapper Starts -->
<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                </button>
                <a href="Index.cshtml" style="height: initial" class="navbar-brand">
                    <img src="assets/img/logo.png" height="50" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                    @* <li class="nav-item active"> *@
                    @*     <a class="nav-link" href="#hero-area"> *@
                    @*         Home *@
                    @*     </a> *@
                    @* </li> *@
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">
                            What I do
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#resume">
                            Experience
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
            @* <li> *@
            @*     <a href="#home">Home</a> *@
            @* </li> *@
            <li>
                <a href="#about">about</a>
            </li>
            <li>
                <a href="#services">What I do</a>
            </li>
            <li>
                <a href="#resume">Experience</a>
            </li>

            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->
    </nav>
    <!-- Navbar End -->

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="contents">
                        <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
                        <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">@Model.ItemInformations.Data.Name &nbsp;@Model.ItemInformations.Data.Surname</h2>
                        <p class="script-font wow fadeInUp" data-wow-delay="0.6s">@Model.ItemInformations.Data.Title</p>
                        <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                            <li>
                                <a class="facebook" href="#">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="instagram" href="#">
                                    <i class="icon-social-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="linkedin" href="#">
                                    <i class="icon-social-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="google" href="#">
                                    <i class="icon-social-google"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->

<!-- About Section Start -->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="assets/img/about/about-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Hi Guys!</h3>
                    <p>Est diam venenatis arcu lacus ad. Duis quis eros. Cursus et rutrum eleifend sollicitudin lacinia justo id turpis. Nec convallis integer. Odio eget duis. Nulla aenean et. Blandit varius sollicitudin. Pellentesque leo primis neque urna magnis. Elit ut sollicitudin. Et est a nam dolores eget itaque sagittis et parturient duis est eleifend sociis rutrum odio viverra integer.</p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li>
                                <span class="pro-title"> Name </span> <span class="pro-detail">@Model.ItemInformations.Data.Name</span>
                            </li>
                            <li>
                                <span class="pro-title"> Age </span> <span class="pro-detail">@Model.ItemInformations.Data.Age</span>
                            </li>
                            <li>
                                <span class="pro-title"> Experience </span> <span class="pro-detail">@Model.ItemInformations.Data.Experience</span>
                            </li>
                            <li>
                                <span class="pro-title"> Country </span> <span class="pro-detail">@Model.ItemInformations.Data.Name</span>
                            </li>
                            <li>
                                <span class="pro-title"> Location </span> <span class="pro-detail">@Model.ItemInformations.Data.Location</span>
                            </li>
                            <li>
                                <span class="pro-title"> e-mail </span> <span class="pro-detail">@Model.ItemInformations.Data.Email</span>
                            </li>
                            <li>
                                <span class="pro-title"> Phone </span> <span class="pro-detail">@Model.ItemInformations.Data.Telephone</span>
                            </li>
                            <li>
                                <span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Services Section Start -->
<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
        <div class="row">
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="icon-briefcase"></i>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="#">Team Leader</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="icon-bubbles"></i>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="#">Consultant</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="icon-grid"></i>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="#">Back-end Development</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a href="#">Analysist & Development</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Resume Section Start -->
<div id="resume" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="education wow fadeInRight" data-wow-delay="0.3s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-graduation"></i>
                            <h2 class="timelin-title">Education</h2>
                        </li>
                         @foreach (var data in  Model.ItemEducations)
                         {
                             <li>
                                 <div class="content-text">
                                     <h3 class="line-title">@data.Data.SchoolName</h3>
                                     <span>@data.Data.Date</span>
                                     <p class="line-text">@data.Data.Description</p>
                                 </div>
                             </li>

                         }

                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-briefcase"></i>
                            <h2 class="timelin-title">Experience</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Art Director - Tesla Inc.</h3>
                                <span>Jan 2018 - Present</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">UX/UI Designer - Samsung</h3>
                                <span>Nov 2016 - Dec 2017</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Intern UI Designer - UIdeck</h3>
                                <span>Mar 2015 - Oct 2016</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section Start -->
<section id="contact" class="section-padding">
    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="footer-right-area wow fadeIn">
                        <h2>Contact Address</h2>
                        <div class="footer-right-contact">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p>@Model.ItemInformations.Data.Location</p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p>
                                    <a href="mailto:@Model.ItemInformations.Data.Email">@Model.ItemInformations.Data.Email</a>
                                </p>
                                @* <p><a href="mailto:tomsaulnier@gmail.com">tomsaulnier@gmail.com</a></p> *@
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <p>
                                    <a href="#">@Model.ItemInformations.Data.Telephone</a>
                                </p>
                                @* <p><a href="#">+ (00) 123 344 789</a></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Start -->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                    <ul class="social-icon">
                        <li>
                            <a class="facebook" href="#">
                                <i class="icon-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="twitter" href="#">
                                <i class="icon-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="instagram" href="#">
                                <i class="icon-social-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="instagram" href="#">
                                <i class="icon-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a class="instagram" href="#">
                                <i class="icon-social-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="icon-arrow-up"></i>
</a>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery-min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.mixitup.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/jquery.nav.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/nivo-lightbox.js"></script>
<script src="assets/js/jquery.slicknav.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>